<h2>User info</h2>

<ul>
    <li>
        <h3>User name</h3>
        <%#= @user.name %>
    </li>
    <li>
        <h3>Email</h3>
        <%= @user.email %>
    </li>
    <li>
        <%#= @user.profile %>
    </li>
</ul>

<p></p>
<p><%= link_to "Edit Profile", edit_user_registration_path(@user.id) %></p>
<p><%= link_to "TOP", root_url %></p>