/* mixins, variables, etc. */

/* Sassのミックスイン機能を用いる。CSSルールのグループをパッケージ化して
複数の要素に適用することができる */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$base-color: #fff;
$cRed: red;

/* universal */

body {
  margin: 0;
  background-image: image-url("ogasuta458A7873_TP_V.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: $base-color;
  // 試験導入
  overflow: scroll;
}

main {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .post-list {
    display: flex;
    justify-content: space-around;

    & section {
      // background: #000;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8%;
      // padding: 0.4em 2em;
      cursor: pointer;

      & .post-link {
        display: inline-block;
        padding: 1em 2em;
      }

      & a {
        color: inherit;
        text-decoration: none;
      }

      & .logo-btn {
        margin: 1em 0;

        // wifi, outletボタン
        & span {
          border: 1px solid #000;
          border-radius: 8px;
          padding: 2px 0.6em;
        }
        .wifi-logo {
          background: #0059ff;
        }
        .outlet-logo {
          background-color: #2ef114;
        }
      }
    }

    .cafe_img {
      width: 100px;
      height: 100px;
      border-radius: 8%;
    }
  }
}

/* header */

.header-navi {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  & section {
    & a {
      color: inherit;
      text-decoration: none;
    }
  }
}

header > p {
  text-align: center;
}

/* log in */

/* form */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: $cRed;

  ul {
    color: $cRed;
    margin: 0 0 20px 0;
    list-style: none;
  }
}

/* posts */

// 応急処置
.post-img > .cafe_img {
  width: 100px;
  height: 100px;
  border-radius: 8%;
}

/* footer */

footer {
  background-color: red;
}

// ここからレスポンシブデザインの記述

// iPhoneXR,11,11ProMax,XR
@media screen and(max-width:414px) {
  .header-navi {
    display: none;
  }
}

// PC,ダブレット横向き
@media screen and(min-width:992px) {
}
