/* mixins, variables, etc. */

/* Sassのミックスイン機能を用いる。CSSルールのグループをパッケージ化して
複数の要素に適用することができる */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$base-color: #fff;
$cRed: red;

/* universal */

* {
  // font-family: "Poppins";
  margin: 0;
  padding: 0;
  font-family: "Orelega One", cursive;
}

body {
  // background-image: image-url("ogasuta458A7873_TP_V.jpeg");
  // -webkit-box-size: cover;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background: #fff;
  background: gray;
  color: $base-color;
  // 試験導入
  overflow: scroll;
}

main {
  background: #000;
  color: $base-color;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .bg-wrapper {
    background-image: image-url("ogasuta458A7873_TP_V.jpeg");
    -webkit-box-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
  }
}

/* top/index.html */

.top-title {
  height: 500px;
  position: relative;
  background-image: image-url("ogasuta458A7873_TP_V.jpeg");
  -webkit-box-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;

  & h2 {
    font-size: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
  }

  .new-post-icon {
    display: inline-block;
    // max-width: 200px;
    position: absolute;
    top: 70%;
    left: 40%;
    vertical-align: bottom;
    background: #000;
    padding: 10px 40px;
    // margin-top: 10px;
    // background: #000;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s ease-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 8px 12px 57px 0 #000;
    }

    .fa-edit {
      margin-left: 5px;
      padding: 0;
      width: 30px;
      height: 30px;

      &::after {
        content: "Post New";
      }
    }
    .new-post-logo {
      // line-height: 2em;
      padding-bottom: 5px;
      padding-top: 0;
      border-radius: 20%;
    }
  }
}

.sub-container {
  padding: 30px 0;

  h2 {
    padding-bottom: 20px;
  }

  .pages > .pagination {
    margin: 30px;
  }
}
.sub-container.new {
  background: rgba(102, 179, 237, 1);
}
.sub-container.popular {
  background: rgba(236, 64, 109, 1);
}
.sub-container.my-own {
  // background: rgba(80, 188, 58, 1);
  background: rgba(232, 234, 66, 1);
}

/* user */
.user-wrapper {
  padding: 40px 0;

  .user-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;

    .user_info > li > h2 {
      margin-bottom: 10px;
    }
  }
}

/* post */

.post-list {
  display: flex;
  justify-content: space-around;
  // overflow: hidden;

  .post-section {
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8%;
    box-shadow: 8px 8px 50px #000;
    transition: 0.2s;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 8px 12px 57px 0 #000;
      cursor: pointer;
    }

    .post-link {
      display: inline-block;
      padding: 1em 2em;

      .post-tag {
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        z-index: 2;

        img {
          width: 20px;
          height: 20px;
          // font-size: 10px;
        }

        .like-counts {
          padding-top: 10px;
          border-top: 2px solid rgba(255, 255, 255, 0.4);
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .logo-section {
      margin: 1em 0;

      // wifi, outletボタン
      & .mark {
        // border: 1px solid #000;
        border-radius: 20px;
        padding: 2px 0.6em;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
        z-index: 1;
        font-weight: 400;
        transition: 0.5s;
        overflow: hidden;

        &::before {
          content: " ";
          // transform: skewX(5deg) translateX(0);
          transition: 0.5s;
        }
      }
      .outlet,
      .wifi {
        position: relative;
        color: #000;
        font-weight: 800;
        // background: linear-gradient(to bottom, rgb(21, 224, 65), transparent);
      }

      .wifi {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          background: linear-gradient(to top, rgb(40, 99, 226), transparent);
        }
      }

      .outlet {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          background: linear-gradient(to bottom, rgb(21, 224, 65), transparent);
        }
      }
    }
  }
  .post-section.post-show {
    padding: 20px;

    .like-counts {
      padding-top: 10px;
      border-top: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  .cafe_img {
    width: 100px;
    height: 100px;
    border-radius: 8%;
  }
}

/* header */

header {
  margin: 0;
  padding: 0;
  max-width: 1100px;
  margin: 0px auto;
  padding: 10px 0;
  background: #000;
  box-sizing: border-box;
  // border-radius: 8px;
  // background: #000;
  color: $base-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  // font-family: 'Poppins', sans-serif;

  .logo {
    color: #069370;
    height: 60px;
    font-size: 36px;
    padding-left: 40px;
    line-height: 60px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    float: left;
    text-decoration: none;
  }

  nav {
    float: right;

    ul {
      margin: 0;
      padding: 0;
      padding-right: 40px;
      display: flex;

      li {
        list-style: none;

        a {
          display: block;
          margin: 10px 0;
          padding: 10px 20px;
          text-decoration: none;
          border-radius: 25px;
          color: #262626;

          &:hover {
            background: #069370;
            color: #fff;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .clearfix {
    clear: both;
  }
}

.wrapper {
  width: 400px;
  height: 500px;
  // color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;

  h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8%;
    // font-family: Courgette;
    // font-size: 13px;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #fff;
  }

  input[type="submit"] {
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    height: 35px;
    background: #f6648b;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 8px #000;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    font-size: 16px;
    text-decoration: none;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      // 文字を強調したい？
    }
  }

  .bottom-text {
    display: flex;
    justify-content: space-between;

    .field > label {
      width: 100px;
    }

    input {
      width: 10%;
    }

    a {
      // display: inline-block;
    }
  }
}

.wrapper.sign-up {
  height: 600px;
  transform: translate(-50%, -40%);
}
.wrapper.new-post {
  position: absolute;
  height: 700px;
  transform: translate(-50%, -50%);
  background: rgba(57, 56, 59, 0.7);
  border-radius: 4%;

  .block {
    // width: 200px;
    position: relative;
    clear: both;
    /* margin-bottomのみ与える */
    // margin: 0 0 25px;
    // float: left;

    .block-wifi,
    .block-outlet {
      width: 50px;
      height: 25px;
      box-sizing: border-box;
      border: 3px solid;
      float: left;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .block-wifi::before,
    .block-outlet::before {
      transition: 0.3s ease;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      left: 1px;
      top: 1px;
      background: #fff;
      box-sizing: border-box;
      border: 3px solid;
      color: #000;
      border-radius: 100px;
    }
    input[type="checkbox"]:checked + .block-wifi,
    input[type="checkbox"]:checked + .block-outlet {
      background: #55e868;
    }
    input[type="checkbox"]:checked + .block-wifi::before,
    input[type="checkbox"]:checked + .block-outlet::before {
      left: 25px;
    }
  }
}

#overlay-area {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* form */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: $cRed;

  ul {
    color: $cRed;
    margin: 0 0 20px 0;
    list-style: none;
  }
}

form {
  .field {
    input[type="file"] {
      display: none;
    }

    #user_img,
    #p-img {
      background: #39f;
      font-size: 0.7rem;
      padding: 6px 8px;
      border-radius: 8px;
      display: inline-block;
      position: relative;
      // transform: translateX(-70%);
      margin-top: 3px;
      margin-right: 8px;
      margin-bottom: 20px;

      &:hover {
        opacity: 0.8;
        transition: 0.3s ease-out;
      }
      &::after {
        content: "No image selected.";
        // color: #333;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: -120px;
        top: calc(50% - 10px);
      }
      &.changed {
        // transform: translateX(0);
      }
      &.changed::after {
        content: "";
      }
    }
    .filename {
      font-size: 12px;
    }
  }
}

/* posts */

// 応急処置
.post-img > .cafe_img {
  width: 100px;
  height: 100px;
  border-radius: 8%;
}

/* footer */

footer {
  // transform: translateY(2500%);
  background: transparent;

  .socials {
    a {
      width: 25px;
      height: 25px;
      display: inline-block;
      border: none;
      // border: 0.2px solid #fff;
      border-radius: 50%;
      margin: 0 5px;

      &:nth-child(1) {
        background: #3b5998;
      }
      &:nth-child(2) {
        background: #55acee;
      }
      &:nth-child(3) {
        background: #bd018c;
      }
    }
  }
}

/* like btn */

.like-link {
  text-decoration: none;
}

// .like-link:hover {
//   background-color: #fff !important;
// }

.line-btn {
  font-size: 15px;
  color: #808080;
}

.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

.closeMenu {
  display: none;
}

// ここからレスポンシブデザインの記述

// header用
@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  header {
    .logo {
      font-size: 24px;
      padding-left: 30px;
    }
  }
}
@media (max-width: 480px) {
  .logo {
    padding-left: 20px;
  }
  .menu-toggle {
    display: block;
    margin: 20px;
    height: 40px;
    margin: 7.5px 30px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;

    &::before {
      // content: "\f0c9";
      // font-family: fontAwesome;
      line-height: 40px;
    }
  }
  .menu-toggle.change {
    display: none;
    color: blue;
  }
  .closeMenu {
    display: block;
    margin: 20px;
    height: 40px;
    margin: 7.5px 30px;
    text-align: center;
  }
  nav {
    display: none;
  }
}
@media (min-width: 481px) {
  .menu-toggle {
    display: none;
  }
}

// iPhoneXR,11,11ProMax,XR
@media screen and(max-width:414px) {
  .header-navi {
    display: none;
  }
}

// PC,ダブレット横向き
@media screen and(min-width:992px) {
}
