/* mixins, variables, etc. */

$base-color: #fff;
$cRed: red;

/* universal */

body {
  background-image: image-url("ogasuta458A7873_TP_V.jpeg");
  background-size: cover;
  color: $base-color;
  // 試験導入
  overflow: hidden;
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .post-list {
    display: flex;
    justify-content: space-around;

    & section {
      // background: #000;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8%;
      cursor: pointer;

      & a {
        color: inherit;
        text-decoration: none;
      }
    }

    .cafe_img {
      width: 100px;
      height: 100px;
      border-radius: 8%;
    }
  }
}

/* header */

.header-navi {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  & section {
    & a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* log in */

/* form */

#error_explanation {
  color: $cRed;

  ul {
    color: $cRed;
    margin: 0 0 20px 0;
    list-style: none;
  }
}

// ここからレスポンシブデザインの記述

// iPhoneXR,11,11ProMax,XR
@media screen and(max-width:414px) {
  .header-navi {
    display: none;
  }
}

// PC,ダブレット横向き
@media screen and(min-width:992px) {
}
