// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
