// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.icon-image {
  width: 200px;
  height: 200px;
  // サイズ指定
  border-radius: 100px;
  object-fit: cover;
}

.user_info {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}
