<% provide(:title, 'Sign up') %>
<%# 編集するファイルはapp/views/users/~！！ %>
<% provide(:button_text, "Create my account") %>

<div class="wrapper sign-up">
  <h2>Sign up</h2>
  <%= render 'form' %>
  <%= link_to "BACK", root_url %>
</div>

<%#= render "users/shared/links" %>
